:root {

  --main-color: #d7c7ae;
  --primary-color: #8a6d46;
  --hover: #5a4d3e;
  --black: #2a201c;
  --white: #fff;
  --light-bg: #f3efec;
  --dark-bg: rgba(0, 0, 0, .7);
  --border: .1rem solid #aaa;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
  font-family: 'Playfair Display', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear;

}


html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}



.heading {
  text-align: center;
  color: var(--primary-color);
  text-transform: capitalize;
  margin-bottom: 3rem;
  font-size: 4rem;
  margin-top: 4rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  background: var(--primary-color);
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem 3rem;
}

.btn:hover {
  background: var(--hover);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--main-color);
  z-index: 1000;
  padding: 8px 50px 8px 40px;
}

.space {
  display: flex;
  gap: 40px;
}

.header .logo {
  display: flex;
  align-items: center;
  font-size: 50px;
  font-weight: bolder;
  color: var(--primary-color);
  font-family: 'Times New Roman', Times, serif;
  background-color: #8a6d46;
  color: white;
  padding: 0px 15px;
  border-radius: 3px 10px 80px 7px;

}

.header .logo:hover {
  background-color: white;
  color: #8a6d46;
}

.header b {
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header span {
  font-size: 34px;
  font-weight: bold;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.header .logo:hover span {
  color: #8a6d46;
}

.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}

.header .navbar a {
  font-size: 2rem;
  margin-left: 3rem;
  color: var(--black);
  font-weight: 600;
  padding: 5px;
  transition: all 400ms;
  text-transform: capitalize;
}

.header .navbar a:hover {
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid white;
  color: #695235;
}

#menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}

.header button a {
  padding: 10px 12px;
  border-radius: 8px;
  background-color: #8a6d46;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.header button:hover a {
  background-color: white;
  color: #8a6d46;
}

.header i {
  padding: 10px;
  width: fit-content;
  font-size: 22px;
  border-radius: 10px;
  background-color: #8a6d46;
  color: white;

}

.header i:hover {
  background-color: white;
  color: #8a6d46;
}

.dark-mode-btn {
  margin-left: 1rem;
}

.dark-mode-btn button {
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
}




.dark-mode {
  background-color: #000000;
  color: #fff;
}

.dark-mode .navbar a {
  color: #fff;
}

.dark-mode .navbar a:hover {
  background-color: #fff;
}

.dark-mode .header {
  background-color: #333;
  color: #fff;
}

.dark-mode .pricing .box-container .box {
  background-color: #333;
}

.dark-mode .pricing .heading {
  color: white;
}

.dark-mode .load-more-btn {
  background-color: black;
  color: white;
}

.dark-mode .footer {
  background-color: #b8b7b7;
}

.dark-mode .newPackageCard{
  background-color: #000000;
}


.pricing {
  padding: 20px;
  padding-bottom: 30px;
  background: url('/whatsnew/images/pricing.jpg');
  background-attachment: fixed;
}

.pricing .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pricing .box-container .box {
  height: 500px;
  width: 300px;
  margin: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .9);
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: var(--primary-color);

}

.pricing .box-container .box .title {
  margin: 30px 0;
  font-size: 26px;
  color: var(--main-color);
  text-transform: capitalize;
}

.pricing .box-container .box .price {
  height: 150px;
  width: 160px;
  color: var(--white);
  background: var(--main-color);
  padding: 57px 0 0;
  margin: 0 auto 25px;
  border-radius: 50%;
}

.pricing .box-container .box .price .currency {
  font-size: 35px;
  line-height: 35px;
  font-weight: 300;
}

.pricing .box-container .box .price .amount {
  font-size: 58px;
  line-height: 45px;
  font-weight: 700;
}

.pricing .box-container .box ul li {
  text-align: left;
  font-size: 16px;
  padding-left: 45px;
  margin: 20px auto;
  color: var(--white);
  list-style: none;
  text-transform: uppercase;
}

.pricing .box-container .box ul li i {
  color: var(--main-color);
  padding: 0 10px;
}

.pricing .box-container .box button {
  height: 40px;
  width: 140px;
  outline: none;
  border-radius: 50px;
  text-transform: capitalize;
  cursor: pointer;
  background: none;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  font-size: 17px;
  font-weight: bold;
  transition: .2s linear;

}

.pricing .box-container .box button:hover {
  color: var(--white);
  background: var(--main-color);
}

.box-container2 {
  display: flex;
  margin-left: 150px;
  flex-wrap: wrap;
  gap: 10px;
  align-items: start;
}


.load-more-btn {
  display: flex;
  text-align: center;
  background-color: #f3efec;
  color: #8a6d46;
  padding: 15px 50px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 40px;
  margin-left: 35%;


}

.load-more-btn:hover {
  background-color: #8a6d46;
  color: #2a201c;
}



.footer {
  background: var(--main-color);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer .box-container {
  width: 90%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: var(--primary-color);
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: var(--black);
  padding: 1rem 0;
}

.footer .box-container .box .share {
  margin-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  font-size: 1.7rem;
  background-color: var(--primary-color);
  color: var(--white);
  margin-right: .3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background-color: var(--black);
}

.footer .box-container .box .link {
  font-size: 1.7rem;
  line-height: 2;
  color: var(--primary-color);
  padding: .5rem 0;
  display: block;
  text-decoration: underline;
}

.footer .box-container .box .link:hover {
  color: var(--black);
  text-decoration: underline;
}

.footer .box-container .box .email {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  border: 0.1rem solid var(--primary-color);
  margin-bottom: 1rem;
}

.footer .credit {
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  border-top: 0.1rem solid var(--primary-color);
}

.footer .credit span {
  color: var(--primary-color);
}

 .box-container2 .box{
  background: #000000;
 }

 .load-more-btn{
  margin-left: 44%;
}





@media (max-width:991px) {

  html {
    font-size: 55%;
  }

  .header .navbar a {
    font-size: 1.7rem;
  }

  section {
    padding: 3rem 2rem;
  }

}

@media (max-width:768px) {

  .dark-mode #menu-btn{
    color: white;
   background-color: #8a6d46;
    padding: 9px;
    border-radius: 8px;
    align-items: center;
}

#menu-btn {
    display: inline-block;
    background-color: #8a6d46;
    padding: 9px;
    border-radius: 8px;
    align-items: center;
   
}



  .header .navbar {
    position: fixed;
    top: 0;
    right: -105%;
    width: 30rem;
    background: var(--white);
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    background-color: #8a6d46;
    justify-content: center;
    z-index: 1200;
  }

  .header .navbar #close-navbar {
    display: block;

  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
  }

  .home .content h3 {
    font-size: 5.5rem;
  }

  .box-container2  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
  }

  .dark-mode .box-container2 .box{
   background: #000000;
  }

  .load-more-btn{
    margin-left: 150px;
  }


}

@media (max-width:450px) {

  html {
    font-size: 50%;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .box-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header i {
    display: none;
  }

  .box-container2 {

    margin-left: 0px;

  }

  .load-more-btn {

    margin-left: 22%;


  }

}
