:root{

    --main-color:#d7c7ae;
    --primary-color: #8a6d46;
    --hover: #5a4d3e;
    --black:#2a201c;
    --white:#fff;
    --light-bg:#f3efec;
    --dark-bg:rgba(0,0,0,.7);
    --border:.1rem solid #aaa;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Playfair Display', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
}
 

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
 


.heading{
   text-align: center;
   color:var(--primary-color);
   text-transform: capitalize;
   margin-bottom: 3rem;
   font-size: 4rem;
   margin-top: 4rem;
}
 
.btn{
   margin-top: 1rem;
   display: inline-block;
   background: var(--primary-color);
   color:var(--white);
   font-size: 2rem;
   cursor: pointer;
   padding:1rem 3rem;
}
 
.btn:hover{
    background: var(--hover);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--main-color);
  z-index: 1000;
  padding: 8px 50px 8px 40px;
}

.space {
  display: flex;
  gap: 40px;
}

.space button{
  border-radius: 15px;
}

.header .logo {
  font-size: 50px;
  font-weight: bolder;
  color: var(--primary-color);
  font-family: 'Times New Roman', Times, serif;
  background-color: #8a6d46;
  color: white;
  padding: 0px 15px;
  border-radius: 3px 10px 80px 7px;

}

.header .logo:hover{
  background-color: white;
  color: #8a6d46;
}

.header b {
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header span {
  font-size: 34px;
  font-weight: bold;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.header .logo:hover span{
  color: #8a6d46;
}

.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}

.header .navbar a {
  font-size: 2rem;
  margin-left: 3rem;
  color: var(--black);
  font-weight: 600;
  padding: 5px;
  transition: all 400ms;
  text-transform: capitalize;
}

.header .navbar a:hover {
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid white;
  color: #695235;
}

#menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}

.header button a {
  padding: 10px 12px;
  border-radius: 8px;
  background-color: #8a6d46;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.header button:hover a {
  background-color: white;
  color: #8a6d46;
}

.header i {
  padding: 10px;
  width: fit-content;
  font-size: 22px;
  border-radius: 10px;
  background-color: #8a6d46;
  color: white;

}

.header i:hover{
  background-color: white;
  color: #8a6d46;
}

.dark-mode-btn {
  margin-left: 1rem;
}

.dark-mode-btn button {
 border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
}




.dark-mode {
  background-color: #000000;
  color: #fff;
}

.dark-mode .navbar a {
  color: #fff;
}
.dark-mode .navbar a:hover{
  background-color: #fff;
}
.dark-mode .header {
  background-color: #333;
  color: #fff;
}


.dark-mode .services{
  background-color: #000000;
}

.dark-mode .styles{
  background-color: #000000;
}

.dark-mode .styles .box-container .box .content p{
  color:var(--main-color);
}

.dark-mode .footer {
  background-color:#b8b7b7}







.services{
      
    background-color: var(--main-color);
    padding: 20px;
 }

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:2rem;
 }
 
 .services .box-container .box{
    height: 100%;
    position: relative;
    overflow: hidden;
 }

 .services .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }
 
 .services .box-container .box:hover img {
    transform: scale(1.1);
 }
 
 .services .box-container .box .content{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0; left:0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: var(--dark-bg);
 }
 
 .services .box-container .box .content h3{
    text-align: center;
    font-size: 3rem;
    color:var(--white);
    padding-top: 40rem;
    text-transform: capitalize;
 }

 .services .box-container .box:hover .content{
    display: flex;
 }


 .styles{
    background: var(--light-bg);
    padding: 20px;
    padding-bottom: 40px;
}
 
.styles .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}
 
.styles .box-container .box .image{
    overflow:hidden;
    width: 100%;
    text-align: center;
 }
 
.styles .box-container .box .image img{
    object-fit: cover;
}
 
.styles .box-container .box .content{
    text-align: center;
}
 
.styles .box-container .box .content .title{
    font-size: 2.5rem;
    color:var(--primary-color);
    text-transform: capitalize;
}
 
.styles .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#444;
    padding:1rem 0;
}

.styles .box-container .box:hover .image {
   width: 90%;
 }


 .styles .box-container .box .content:hover .title {
    color: #2a201c;
 }



 .footer {
    background: var(--main-color);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .footer .box-container {
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2.2rem;
    text-transform: capitalize;
    color: var(--primary-color);
    padding: 1rem 0;
  }
  
  .footer .box-container .box p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--black);
    padding: 1rem 0;
  }
  
  .footer .box-container .box .share {
    margin-top: 1rem;
  }
  
  .footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    font-size: 1.7rem;
    background-color: var(--primary-color);
    color: var(--white);
    margin-right: .3rem;
    text-align: center;
  }
  
  .footer .box-container .box .share a:hover {
    background-color: var(--black);
  }
  
  .footer .box-container .box .link {
    font-size: 1.7rem;
    line-height: 2;
    color: var(--primary-color);
    padding: .5rem 0;
    display: block;
    text-decoration: underline;
  }
  
  .footer .box-container .box .link:hover {
    color: var(--black);
    text-decoration: underline;
  }
  
  .footer .box-container .box .email {
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    border: 0.1rem solid var(--primary-color);
    margin-bottom: 1rem;
  }
  
  .footer .credit {
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
    border-top: 0.1rem solid var(--primary-color);
  }
  
  .footer .credit span {
    color: var(--primary-color);
  }






@media (max-width:991px){

    html{
        font-size: 55%;
     }

    .header .navbar a {
        font-size: 1.7rem;
    }
  
     section{
        padding:3rem 2rem;
     }

}

@media (max-width:768px){

  .dark-mode #menu-btn{
    color: white;
   background-color: #8a6d46;
    padding: 9px;
    border-radius: 8px;
    align-items: center;
}

#menu-btn {
    display: inline-block;
    background-color: #8a6d46;
    padding: 9px;
    border-radius: 8px;
    align-items: center;
   
}


.header{
    padding-left: 10px;
    padding-right: 20px;
}

.header .navbar {
    position: fixed;
    top: 0;
    right: -105%;
    width: 30rem;
    background: var(--white);
    height: 100%;
    background-color: #8a6d46;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1200;
}

.header .navbar #close-navbar {
    display: block;
}

.header .navbar.active {
    right: 0;
}

.header .navbar a {
    display: block;
    margin: 1rem 0;
    text-align:center;
    font-size: 3rem;
}

.home .content h3 {
    font-size: 5.5rem;
}

.header i {
    display: none;
}

.header .dark-mode-btn button i{
    display: flex;
}


}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

}